<template>
    <div class="container">
        <h1>Dashboard</h1>


    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        }
    }
</script>