<template>
    <v-app id="inspire">


        <v-app-bar
                :clipped-left="$vuetify.breakpoint.lgAndUp"
                app
                color="blue darken-3"
                dark
        >
            <v-toolbar-title
                    style="width: 300px"
                    class="ml-0 pl-4"
            >
                <span class="hidden-sm-and-down">Octopus Blog Test</span>
            </v-toolbar-title>
            <v-text-field
                    flat
                    solo-inverted
                    hide-details
                    prepend-inner-icon="mdi-magnify"
                    label="Search"
                    class="hidden-sm-and-down"
            />
            <v-spacer />
            <v-btn icon>
                <v-icon>mdi-apps</v-icon>
            </v-btn>
            <v-btn icon>
                <v-icon>mdi-bell</v-icon>
            </v-btn>
            <v-btn
                    icon
                    large
            >
                <v-avatar
                        size="32px"
                        item
                >
                    <v-img
                            src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
                            alt="Vuetify"
                    /></v-avatar>
            </v-btn>
        </v-app-bar>
        <v-content>
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row align="center"
                       justify="center" >

                    <v-card class="mx-auto"
                            max-width="344" >

                        <v-card-title>
                            Top western road trips Top western road trips
                        </v-card-title>

                        <v-card-subtitle>
                            1,000 miles of wonder
                        </v-card-subtitle>

                        <v-card-actions>
                            <v-btn text>Share</v-btn>

                            <v-btn
                                    color="purple"
                                    text
                            >
                                Explore
                            </v-btn>

                            <v-spacer></v-spacer>

                            <v-btn
                                    icon
                                    @click="show = !show"
                            >
                                <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                            </v-btn>
                        </v-card-actions>

                        <v-expand-transition>
                            <div v-show="show">
                                <v-divider></v-divider>

                                <v-card-text>
                                    I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
                                </v-card-text>
                            </div>
                        </v-expand-transition>
                    </v-card>



                    <!--<v-tooltip right>-->
                        <!--<template v-slot:activator="{ on }">-->
                            <!--<v-btn-->
                                    <!--:href="source"-->
                                    <!--icon-->
                                    <!--large-->
                                    <!--target="_blank"-->
                                    <!--v-on="on"-->
                            <!--&gt;-->
                                <!--<v-icon large>mdi-code-tags</v-icon>-->
                            <!--</v-btn>-->
                        <!--</template>-->
                        <!--<span>Source</span>-->
                    <!--</v-tooltip>-->
                    <!--<v-tooltip right>-->
                        <!--<template v-slot:activator="{ on }">-->
                            <!--<v-btn-->
                                    <!--icon-->
                                    <!--large-->
                                    <!--href="https://codepen.io/johnjleider/pen/MNYLdL"-->
                                    <!--target="_blank"-->
                                    <!--v-on="on"-->
                            <!--&gt;-->
                                <!--<v-icon large>mdi-codepen</v-icon>-->
                            <!--</v-btn>-->
                        <!--</template>-->
                        <!--<span>Codepen</span>-->
                    <!--</v-tooltip>-->
                </v-row>
            </v-container>
        </v-content>
        <v-btn
                bottom
                color="pink"
                dark
                fab
                fixed
                right
                @click="dialog = !dialog"
        >
            <v-icon>mdi-plus</v-icon>
        </v-btn>
        <v-dialog
                v-model="dialog"
                width="800px"
        >
            <v-card>
                <v-card-title class="grey darken-2">
                    Create contact
                </v-card-title>
                <v-container>
                    <v-row class="mx-2">
                        <v-col
                                class="align-center justify-space-between"
                                cols="12"
                        >
                            <v-row
                                    align="center"
                                    class="mr-0"
                            >
                                <v-avatar
                                        size="40px"
                                        class="mx-3"
                                >
                                    <img
                                            src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                                            alt=""
                                    >
                                </v-avatar>
                                <v-text-field
                                        placeholder="Name"
                                />
                            </v-row>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                    prepend-icon="mdi-account-card-details-outline"
                                    placeholder="Company"
                            />
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                    placeholder="Job title"
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                    prepend-icon="mdi-mail"
                                    placeholder="Email"
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                    type="tel"
                                    prepend-icon="mdi-phone"
                                    placeholder="(000) 000 - 0000"
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                    prepend-icon="mdi-text"
                                    placeholder="Notes"
                            />
                        </v-col>
                    </v-row>
                </v-container>
                <v-card-actions>
                    <v-btn
                            text
                            color="primary"
                    >More</v-btn>
                    <v-spacer />
                    <v-btn
                            text
                            color="primary"
                            @click="dialog = false"
                    >Cancel</v-btn>
                    <v-btn
                            text
                            @click="dialog = false"
                    >Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</template>

<script>
    export default {
        props: {
            source: String,
        },
        data: () => ({
            dialog: false,
            drawer: null,
            show: false,
        }),
    }
</script>