<template>
    <div>
        <h1>Users</h1>

        <v-simple-table>
            <template v-slot:default>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users" :key="user.id">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role_id }}</td>
                    <td>{{ user.created_at }}</td>
                    <td>
                        <v-btn icon>
                            <v-icon>mdi-apps</v-icon>
                        </v-btn> |
                        <a href="#" @click="deleteUser(user.id)">
                            Delete
                        </a>
                    </td>
                </tr>

                </tbody>
            </template>
        </v-simple-table>

        <!-- modal -->
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark v-on="on">Open Dialog</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">User Profile</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field label="Legal first name*" required></v-text-field>
                                </v-col>

                            </v-row>
                        </v-container>
                        <small>*indicates required field</small>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                        <v-btn color="blue darken-1" text @click="dialog = false">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row><!-- end modal -->


    </div>
</template>

<script>
    export default {
        data() {
            return {
                dialog: false,
                editmode: true,
                users: {},
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    role_id: ''
                })
            }
        },
        methods: {
            updateUser() {
                this.form.put('api/users/'+this.form.id)
                    .then(() => {
                        $('#addNew').modal('hide');
                        Fire.$emit('Refresh');
                    }).catch(() => {});
            },
            editModal(user) {
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show')
            },
            deleteUser(id) {
                this.form.delete('api/users/'+id).then(()=>{
                    Fire.$emit('Refresh');
                }).catch(() => {});
            },
            loadUsers(){
                //if (this.$gate.isAdmin()) {
                    axios.get("api/users")
                        .then(
                            ({data}) => (this.users = data.data));
              //  }
            },
            createUser() {
                this.form.post('api/users')
                    .then(() => {
                        Fire.$emit('Refresh');
                        $('#addNew').modal('hide')
                    }).catch(() => {})
            },
        },
        created() {
            this.loadUsers();
            // Fire.$on('searching', () => {
            //     let query = this.$parent.search;
            //     axios.get('api/findUser?q=' + query)
            //         .then((data) => {
            //             this.users = data.data;
            //         }).catch(() => {});
            // });
            Fire.$on('Refresh', () => {
                this.loadUsers();
            });
        }
    }
</script>